.main-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exchange-view {
  display: flex;
  align-items: center;
  margin-bottom: -20px;

  p {
    background: var(--white);
    color: var(--text);
    font-weight: bold;
    font-size: 16px;

    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
  }

}