header {
  background: var(--green);
  padding: 10px;
  color: var(--gray);

  display: flex;
  justify-content: space-between;
  align-items: center;

  #logo {
    color: var(--gray);
    font-weight: 700;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: space-around;

    list-style-type: none;
  }

  .list-login {
    img {
      display: flex;
      align-items: center;

      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  .menu {
    width: calc(100% - 300px);
    max-width: 600px;

    .menu-icon {
      display: none;
    }

    @media (max-width: 779px) {
      width: calc(100% - 200px);
      justify-content: space-evenly;
    }

    @media (max-width: 500px) {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 2;

      background: var(--green);
      width: 100%;

      .menu-title {
        display: none;
      }

      .menu-icon {
        display: block;
        padding: 2px 8px;

        svg {
          width: 31px;
          height: 31px;
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;

      list-style: none;
      padding: 10px;

      font-size: 19px;

      a {
        text-decoration: none;
        color: var(--gray);
      }

      a:hover {
        color: var(--text);
      }
    }
  }
}
